<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Gamezeug
  </h1>
  <button (click)="getTables()">Get tables</button>
  <h2>Table:</h2>
  {{ table }}
</div>

<div>
    <div *ngIf="isLoggedIn(); else loggedOut">
      Welcome {{ getName() }}!
      <br/>
      <button (click)="createTable()">Create table</button>
      <button (click)="logOut()">Log out</button>
    </div>
    <ng-template #loggedOut>
      You are not logged in.
      <br/>
      <button (click)="login()">Log in</button>
    </ng-template>
  </div>

<router-outlet></router-outlet>
